<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-1 mr-0" href="/">Autohub</a>
    <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap"><a class="nav-link" href="#">Sign out</a></li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-1 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#notimplemented">Automations</a></li>
                    <li class="nav-item"><a class="nav-link" href="#notimplemented">Runs</a></li>
                    <h6 class="sidebar-heading d-flex align-items-center px-3 mt-3 mb-1 text-muted">
                        Configuration
                    </h6>
                    <li class="nav-item"><a class="nav-link" href="#notimplemented">Automations</a></li>
                    <li class="nav-item"><a class="nav-link" href="#notimplemented">Triggers</a></li>
                    <li class="nav-item"><a class="nav-link" href="#notimplemented">Tasks</a></li>
                    <li class="nav-item"><a class="nav-link" href="#notimplemented">Arguments</a></li>
                    <h6 class="sidebar-heading d-flex align-items-center px-3 mt-3 mb-1 text-muted">
                        Administration
                    </h6>
                    <li class="nav-item"><a class="nav-link" href="#notimplemented">Users</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
